name: Security Scan

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  trivy-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to commit the JSON file back

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'json'
          output: 'scan-results.json'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Commit Report
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add scan-results.json
          # Only commit if there are changes
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update security scan report" && git push)